[Unit]
Description=Potosi signal receiver
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ec2-user
ExecStart=/home/ec2-user/.poetry/bin/poetry run python potosi/app/signal_receiver
WorkingDirectory=/home/ec2-user/app/release

[Install]
WantedBy=multi-user.target
